/* CSS file for the App component */
.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}


/* CSS file for NavBar component*/
.Content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 100px;
  background-color: red;
  color: white;
  border-bottom: 10px solid black;
  font-size: 24px;
  margin-bottom: 10px;
}

.Navbar a {
  color: white;
  text-decoration: none;
}