/* CSS file for the App component */
.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}


/* CSS file for NavBar component*/
.Content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 100px;
  background-color: red;
  color: white;
  border-bottom: 10px solid black;
  font-size: 24px;
}

.Navbar a {
  color: white;
  text-decoration: none;
}

.Container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Pokedex {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Pokemon-Card {
  flex: 1 0 18%;
  margin: 5px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Pokemon-Card img {
  width: 100%;
}

.Pokemon-Card div.Text {
  width: 50%;
  text-align: left;
  display: block;
}