.App {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}

.Sidebar {
  width: 200px;
  text-align: center;
  background-color: white;
  border-color: black;
  border: 1px solid black;
  height: 50vh;
}

.Content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Pokedex {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Pokemon-Card {
  flex: 1 0 18%;
  margin: 5px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Pokemon-Card img {
  width: 100%;
}

.Pokemon-Card div.Text {
  width: 50%;
  text-align: left;
  display: block;
}